@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
    font-family: 'Poppins', sans-serif;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: white;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width: 50px;
    height: 50px;
    border: 12px solid #3F7EB3;
    border-bottom: 12px solid white;
    border-radius: 50%;
    margin: 0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
header {
    width:92vw;
    padding:6vh 4vw;
    position:fixed;
    font-weight:bold;
    background:transparent;
    color:#ffff;
    transition:0.4s ease-in-out;
    z-index:2;
}
header table {
    width:100%;
}
#logo {
    width:20%;
}
#navigation {
    width:60%;
}

#magnify {
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, 0.92);
    position:fixed;
    z-index:4;
    display:none;
    flex-direction: column;
    justify-content:center;
}
#magnify h1 {
    position:absolute;
    top:0;
    right:0;
    margin:20px 40px;
    color:#fff;
    transition:0.4s ease-in-out;
}
#magnify h1:hover {
    color: #AEDBF0;
    cursor: pointer;
}
#img_here {
    width:90%;
    height:90%;
    background-size:contain !important;
    background-repeat:no-repeat !important;
    margin:0px auto;
}
#logo {
    font-size: 24px;
    color: #AEDBF0;
}
#navigation {
    text-align:right;
}
#navigation a {
    font-weight:900;
    color: #3F7EB3;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-left: 1vw;
    transition: 0.4s ease-in-out;
}
#navigation a:hover {
    border-bottom: 2px solid #3F7EB3;
}
#top_part {
    width:100%;
    border:2vh solid #fff;
}
#top_part tr td {
    width:50%;
}
#about {
    width:84% !important;
    height:95vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:0px 8%;
}
#about h1 {
    font-size:45px;
    word-wrap:break-word;
}
#about table {
    width:70%;
    margin-top:4vh;
}
#about table tr td {
    width:20% !important;
    text-align:left;
}
.social {
    color: #3F7EB3;
    font-size: 23px;
    padding: 12px 17px;
    border-radius: 50%;
    background: transparent;
    transition: 0.4s ease-in-out;
    font-weight: bold;
    margin: 0px 8px;
}
.social:hover {
    cursor: pointer;
    color: #fff;
    background: #3F7EB3;
    box-shadow: 0px 10px 30px #3F7EB3;
}
.btn_one {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #3F7EB3;
    background: #fff;
    border: 3px solid #3F7EB3;
    padding: 8px 40px;
    width: 35%;
    border-radius: 80px;
    font-weight: bold;
    margin: 2vh 0px;
    transition: 0.4s ease-in-out;
}
.btn_one:hover {
    box-shadow: 0px 10px 30px #3F7EB3;
    cursor: pointer;
    color: #fff;
    background: #3F7EB3;
    border: 3px solid #3F7EB3;
}
.btn_one a {
    color: black;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}
#top_part .btn_one a:hover{
    color:white;
}
#rightImage {
    width: 100%;
    height: 95vh;
    /*background: linear-gradient(0deg,rgba(255, 44, 90, 0.8),rgba(2255, 44, 90, 0.8)),url("https://images.unsplash.com/photo-1506057527569-6a0285b2fcc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=60") center center;*/
    background: url("Portfolio/Edward.jfif") center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#education {
    width: 92vw;
    padding: 6vh 4vw;
    font-weight: bold;
}
#education h1 {
    padding: 5px 0px;
    border-bottom: 4px solid #3F7EB3;
    width: 15%;
}
#work {
    width:92vw;
    padding:6vh 4vw;
    font-weight:bold;
}
#work h1 {
    padding: 5px 0px;
    border-bottom: 4px solid #3F7EB3;
    width: 21%;
}
#work h2{
    padding: 5px;
    border-bottom: 2px solid #AEDBF0;
    width: 6%;
}
#work a{
    color: black;
    text-decoration: none;
    
}
#work a:hover {
    color: #3F7EB3
}
#experience {
    width: 92vw;
    padding: 6vh 4vw;
    font-weight: bold;
    background-color: #AEDBF0;
}
#experience h1 {
    padding: 5px 0px;
    border-bottom: 4px solid #3F7EB3;
    width: 30%;
}
#community {
    width: 92vw;
    padding: 6vh 4vw;
    font-weight: bold;
    background-color: #AEDBF0;
}
#community h1 {
    padding: 5px 0px;
    border-bottom: 4px solid #3F7EB3;
    width: 30%;
}

#community img {
    float: right;
    padding: 2em;
    width: 30%;
}

#webinar {
    width: 92vw;
    padding: 6vh 4vw;
    font-weight: bold;
    background-color: white;
}

#webinar h1 {
    padding: 5px 0px;
    border-bottom: 4px solid #3F7EB3;
    width: 25%;
}
#webinar img {
    float:right;
    padding: 2em;
    width:30%;
}
#VIA {
    padding: 2em;
    margin-bottom: 2em;
    margin-top: 1em;
    height: 20em;
}
#FP2 {
    padding: 2em;
    margin-bottom: 5em;
    margin-top: 1em;
    height: 20em;
}
#CommServe {
    padding: 2em;
    margin-bottom: 2em;
    margin-top: 1em;
    height: 20em;
}
#VIA h3 {
    padding: 5px;
    border-bottom: 2px solid white;
    width: 35%;
}

#FP2 h3 {
    padding: 5px;
    border-bottom: 2px solid white;
    width: 50%;
}

#CommServe h3 {
    padding: 5px;
    border-bottom: 2px solid white;
    width: 50%;
}
#zoom {
    padding: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 25em;
}
#zoom h2 {
    padding: 5px;
    border-bottom: 2px solid #AEDBF0;
    width: 50%;
}
#fraud {
    padding: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 25em;
}
#fraud h2 {
    padding: 5px;
    border-bottom: 2px solid #AEDBF0;
    width: 34%;
}
#vulnerabilities {
    padding: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 25em;
}
#vulnerabilities h2 {
    padding: 5px;
    border-bottom: 2px solid #AEDBF0;
    width: 50%;
}
#ransomware {
    padding: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 25em;
}
#ransomware h2 {
    padding: 5px;
    border-bottom: 2px solid #AEDBF0;
    width: 50%;
}

#photos {
    width:100%;
    columns:3;
    column-gap:4%;
    z-index:1;
    transition:0.4s ease-in-out;
}
#photos img {
    width: 100%;
    height: auto;
    margin: 4.5% 0px;
    transition: 0.4s ease-in-out;
    padding:10px;
    border: 5px solid #AEDBF0;
}
#photos img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#bio {
    width: 92vw;
    padding: 6vh 4vw;
    font-weight: bold;
    background-color: #AEDBF0;
}
#bio h1 {
    padding: 5px 0px;
    border-bottom: 4px solid #3F7EB3;
    width: 8%;
}
#contact {
    width: 92vw;
    padding: 6vh 4vw;
    background-color: #AEDBF0;
}
#contact h1 {
    padding: 5px 0px;
    border-bottom: 4px solid #3F7EB3;
    width: 12%;
}
#contact table {
    width:100%;
}
#contact table tr td {
    width:50%;
}
#inner_div table{
    width:100%;
}
#inner_div table tr td{
    font-weight:bold;
}
#inner_table tr td{
    padding:10px 20px !important;
}
#contact form {
    width:100%;
}
    #contact form input {
        width: 96%;
        margin: 20px 1%;
        background: transparent;
        border: 0px;
        border-bottom: 3px solid #3F7EB3;
        padding: 8px 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        transition: 0.4s ease-in-out;
        color: #000;
        font-weight: bold;
    }
    #contact form textarea {
        width: 96%;
        margin: 20px 1%;
        padding: 8px 10px;
        border: 0px;
        border-bottom: 3px solid #3F7EB3;
        padding: 8px 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        background: transparent;
        resize: none;
        transition: 0.4s ease-in-out;
        color: #000;
        font-weight: bold;
    }
    #contact form input:focus {
        outline: none;
        border-bottom: 3px solid #3F7EB3;
    }
    #contact form textarea:focus {
        outline: none;
        border-bottom: 3px solid #3F7EB3;
    }
#address {
    position:relative;
    top:-25px;
    left:30px;
}
#footer {
    width:100%;
    padding:10vh 0px;
    text-align:center;
    font-weight:bold;
}
    #footer a {
        color: #3F7EB3;
        text-decoration: none;
    }
::placeholder {
    color:#000;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #3F7EB3;
}
::-webkit-scrollbar-thumb {
    background: #3F7EB3;
}
    ::-webkit-scrollbar-thumb:hover {
        background: #3F7EB3;
    }

@media (max-width: 1000px){
    #photos {
        columns:1;
        column-gap:0%;
    }
    #photos img {
        margin: 2% 0px;
        border: 3px thin #AEDBF0;
    }
    #photos img:hover {
        transform: scale(1);
        cursor: pointer;
    }
    #rightImage {
        display:none;
    }
    #top_part {
        border:0px;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }
    #about {
        width:92% !important;
        height:75vh;
        padding-top:20vh !important;
        text-align:center;
        padding:0px 4%;
    }
    #about table {
        width:100%;
        margin-top:6vh;
    }
    #about table tr td {
        text-align:center;
    }
    .btn_one {
        padding: 6px 30px;
        width: 60%;
        margin: 4vh auto;
        box-shadow: 0px 10px 20px #3F7EB3;
        background: #AEDBF0;
        color: #fff;
    }
        .btn_one:hover {
            box-shadow: 0px 10px 40px #3F7EB3;
            cursor: pointer;
        }
    #contact table tr td {
        width:100%;
        display:block;
    }
    #inner_table tr td{
        padding:10px 0px !important;
    }
    #contact form input {
        width:90%;
    }
    #contact form textarea {
        width:90%;
    }
    #work h1 {
        width:19%;
    }
    #bio h1 {
        width:25%;
    }
    #contact h1 {
        width:33%;
    }
    header {
        width:96vw;
        background:#fff;
        padding:4vh 2vw;
        position:absolute;
    }
    #header table tr td {
        width:100%;
        display:block;
        text-align:center;
        padding:15px 0px;
    }
    #navigation a {
        color:#000;
    }
}